<html>

<head>
  <title>Depress.net</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/sound_block.css">
</head>

<body>
  <nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">Depress.net</a>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <form action="/add_patient" method="post">
          <div class="form-group">
            <label >Имя</label>
            <input type="text" class="form-control" name = "name" placeholder="Имя пациента">
            <small id="emailHelp" class="form-text text-muted"></small>
          </div>
          <div class="form-group">
            <label >Фамилия пациента</label>
            <input type="text" class="form-control" name = "surname" placeholder="Фамилия">
          </div>
          <button type="submit" class="btn btn-primary">Добавить пациента</button>
        </form>
      </div>
      <div class="col-md-6">
        Список текущих пациентов
        {% for patient in patients %}
        <div>
          <a class="btn btn-outline-primary" href="/patient_analysis?patient_id={{patient.id}}" role="button" style="width: 350px; margin: 10px 0px 10px 0px;">
            <p>{{ patient.name }} <b>{{ patient.surname }}</b></p>
          </a>
        </div>
        {% endfor %}
      </div>

    </div>
  </div>
</body>
<script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
<script src="/static/sound_js/app.js"></script>
<!--<script src="/static/main.js"></script>-->

</html>